<!doctype html>
<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tjek din e-mail</title>
  </head>
  <body>
    <h1>Tjek din e-mail</h1>
    <p>
      Vi har sendt en e-mail til <strong><%= email %></strong> med et
      login-link.
    </p>
  </body>
</html>
